*.class

# Package Files #
*.jar
*.war
*.ear
_MACOSX
*\build
#*\nbproject
/twentyfourtyeight/build/
/twentyfourtyeight/dist/
/CelsiusConverterProject/nbproject/private/
/charValues/nbproject/private/
/charValues/build/
/SalesmanDilema/build/
/SalesmanDilema/dist/